$osb-white: #fff;
$osb-lighten-grey: #f5f5f5;
$osb-light-grey: #E0E0E0;
$osb-grey: #999999;
$osb-darken-grey: #363636;
$osb-text: #666666;
$osb-black: #2B2B2B;
$osb-red: #E62D2A;
$osb-dark-blue: #0b71b3;
$osb-blue: #3C8FE1;
$osb-title-blue: #004bdc;
$osb-green: #79BD61;
$osb-lime: #A4C307;
$osb-orange: #EC9001;
$osb-yellow: #FFA007;
